.shjs_sourceCode {
    color: #00ffff;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_keyword {
    color: #5a93fa;
    font-style: normal;
}

.shjs_sourceCode .shjs_type {
    color: #ffffff;
    font-style: normal;
}

.shjs_sourceCode .shjs_string {
    color: #dddddd;
    font-weight: bold;
    font-style: normal;
}

.shjs_sourceCode .shjs_regexp {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_specialchar {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_comment {
    color: #cccccc;
    font-weight: normal;
    font-style: italic;
}

.shjs_sourceCode .shjs_number {
    color: #ffff00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_preproc {
    color: #bfbfbf;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_symbol {
    color: #fff;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_function {
    color: #21ff83;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_cbracket {
    color: #fff;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_url {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_date {
    color: #fa5a03;
    font-style: normal;
}

.shjs_sourceCode .shjs_time {
    color: #fa5a03;
    font-style: normal;
}

.shjs_sourceCode .shjs_file {
    color: #fa5a03;
    font-style: normal;
}

.shjs_sourceCode .shjs_ip {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_name {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_variable {
    color: #009900;
    font-style: normal;
    font-weight: bold;
}

.shjs_sourceCode .shjs_oldfile {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_newfile {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}

.shjs_sourceCode .shjs_difflines {
    color: #fa5a03;
    font-style: normal;
}

.shjs_sourceCode .shjs_selector {
    color: #efe219;
    font-style: normal;
}

.shjs_sourceCode .shjs_property {
    color: #fa5a03;
    font-style: normal;
}

.shjs_sourceCode .shjs_value {
    color: #ffbb00;
    font-weight: normal;
    font-style: normal;
}
